# Rarity Settings
RARITY_BUDGET={
    "common": 9,
    "rare": 12,
    "epic": 18,
    "legendary": 24
}

RARITY_PROBABILITY={
    "common": 0.5,
    "rare": 0.3,
    "epic": 0.15,
    "legendary": 0.05
}

# Effect Settings
EFFECT_COST={}  # TODO: Define costs for different effect types and values


# Game Settings
MAX_HAND_SIZE=10
MAX_DECK_SIZE=30
MIN_DECK_SIZE=15
LANE_SIZE=5
